.cognizefirst-wrapper {

  overflow: hidden;

  Form {
    .ant-form-item-label {
      label {
        text-align: left;
        font-size: 20rem ;
    
        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }
    
    font-weight: bold;
    Button {
      width: 50%;
      height: 70rem;
      font-size: 20rem;
      border-radius: 10rem;
      position: fixed;
      top: 90vh;
    }
  }
}