.cognizefirst-wrapper {

  overflow: hidden;

  Form {
    font-weight: bold;
    Button {
      width: 50%;
      height: 70rem;
      font-size: 20rem;
      border-radius: 10rem;
      position: fixed;
      top: 90vh;
    }
  }
}