.header{
  height: 16%;
  display: flex;
  background-color: #294885;
  .title{
    margin: 10% auto;
    font-weight: bold;
    font-size: 26rem;
    color: aliceblue;
    background-image: url(../../assect/img/医院.png);
    background-repeat: no-repeat;
    text-indent: 2.5em;
    background-size: 50rem;
  }
}