.header {
  height: 17vh;
  display: flex;
  background-color: #294885;

  .title,
  .addTitle {
    margin-top: 13%;
    margin-left: 10%;
    font-weight: bold;
    font-size: 26rem;
    color: aliceblue;

    text-indent: 2.5em;
    background-size: 50rem;
  }

  .addTitle {
    margin-left: -10% ;
  }

}