.ladi-wrapper {
  .question{
    font-size: 20rem;
    font-weight: lighter;
    background-image: url(../../../assect/img/import.png);
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: 0.8em; //首行缩进
  }

  Form {
    .ant-row {
      display: block;
    }

    span {
      font-size: 17rem;
      font-weight: 400;
    }

    .ant-form-item-label {
      label {
        text-align: left;
        font-size: 17rem;
        height: auto;
        font-weight: 400;

        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }

    Button {
      width: 40vw;
      font-size: 20rem;
      height: 60rem;
      margin-bottom: 20rem;
      border-radius: 10rem;
    }
  }
}