.common-wrapper {
  .common-heade {
    width: 100%;
    font-size: 20rem;
    font-weight: bold;
    padding: 22rem 0 39rem 25rem;
    background-color: #2a4986;
    color: aliceblue;
    .back {
      margin-bottom: 16rem;
    }

    .title {}
  }
}