.eyesight-wrapper {
  height: 100vh;
  overflow: hidden;

  Form {
    Button {
      width: 60%;
      height: 60rem;
    }

    .next-button {
      position: absolute;
      top: 16vh
    }

    .fifth-button {
      position: absolute;
      top: 60vh;
    }
  }


}