.swallow-wrapper {
  height: 110vh;
  .question {
    font-size: 22rem;
    margin: 30rem;
    font-weight: bold;
  }

  Form {
    span {
      font-size: 16rem;
      font-weight: 400;
    }

    .ant-form-item-label {
      label {
        text-align: left;
        font-size: 20rem;
        height: auto;
        font-weight: 400;

        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }

    Button {
      width: 40vw;
      height: 60rem;
      border-radius: 10rem;
      margin-top: 6vh;
      font-size: 20rem;
      margin-left: 7vw;
    }
  }
}