.heart-wrapper {
  min-height: 900rem;
  font-size: 22rem;
  font-weight: bold;

  .question {
    margin: 20rem;
  }

  Form {
    padding: 0 10rem;

    Button {
      position: absolute;
      top: 90%;
      width: 40vw;
      height: 47rem;
      margin: 20rem;
      font-size: 20rem;
      border-radius: 10rem;
    }
  }
}