.step-wrapper {
  .userName {
    position: relative;
    // margin-left: 15vw;
    left: 67vw;
    top: 0vh;
    font-size: 18rem;
    font-weight: bold;
    color: aliceblue;
  }

  Form {
    span {
      font-size: 16rem;
      font-weight: 400;
    }

    .ant-form-item-label {
      label {
        text-align: left;
        font-size: 20rem;
        height: auto;
        font-weight: 400;

        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }

    Button {
      width: 40vw;
      height: 60rem;
      border-radius: 10rem;
      font-size: 20rem;
      position: relative;
      left: 6vw;
      top: 40vh;
    }
  }

}