.cognizesecond-wrapper {
  .cognizesecond-head {
    padding: 12rem;
    font-weight: bold;
    span {
    font-size: 25rem;
    }

    div {
      font-size: 26rem;
    }
  }

  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
    position: absolute;
    top: 70%;
    height: 60rem;
    width: 40%;
    border-radius: 10rem;
    }
  }
}