.psychology-wrapper {
  .cognize-heade {
    div {

    }

    .title {

    }
  }

  .question {
    padding: 30rem 18rem;
    font-size: 25rem;
    font-weight: bold;
  }

  Form {
    .ant-form-item-label {
      label  {
        text-align: left;
        font-size: 20rem;
    
        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }
    
    Button{
      margin-top: calc(40%);
      width: 40vw;
      font-size: 20rem;
      height: 60rem;
      border-radius: 10rem;
    }
  }
}