.common-wrapper {
  .cognize-heade {
    div {}

    .title {}
  }

  .attention {
    width: 90%;
    margin: 0 auto;
    font-size: 18rem;
    font-weight: bold;
  }

  Form {
    Button {
      position: static !important;
    }
  }
}