.cognizethird-wrapper {
  .formal-content {
    .top-buttons {
      display: flex;


      button {
        height: 43rem;
        flex: 1;
        font-size: 18rem;
        font-weight: bold;
        background-color: #ffffff;
        border: #cacac9 1rem solid;
        font-family: PingFangSC-regular;
      }
    }

    .set-canvas {
      background-color: #08FCCA00;
      width: 100%;
      border: 1px solid #000;
      border-radius: 0.05rem;
    }

    .bottom {
      Button {
        position: absolute;
        top: 92%;
      }
    }
  }
  .buffer{
  height: 100vh;
  background-color:rgba(228, 208, 128, 0.168);
  color: #951d1d;
  font-size: 40rem;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  }
}