.basicform-wrapper {
  height: 981rem;

  .basicform-heade {
    width: 100%;
    height: 167rem;
    font-size: 20rem;
    font-weight: bold;
    padding: 38rem 0 39rem 25rem;
    background-color: #2a4986;
    margin-bottom: 20rem;
    color: aliceblue;

    .back {
      margin-bottom: 25rem;
    }

    .title {}
  }


  Form {
    font-weight: 600;
     Button {
      margin: 20% 100rem;
      width: 139rem;
      height: 50rem;
    }
  }
}