.basicform-wrapper {
  height: 981rem;

  Form {
    span {
      font-size: 16rem;
      font-weight: 400;
    }
    .ant-select:not(.ant-select-customize-input), .ant-select-selector ,.ant-select-selection-overflow{
      max-width: 88vw;
    }

    .ant-form-item-label {
      label {
        text-align: left;
        font-size: 20rem;
        height: auto;
        font-weight: 400;

        &:after {
          content: none !important; //解决上面的样式label后面会有空格
        }
      }
    }

    input[type='text'] {
      width: 50vw;
      font-size: 16rem;
    }

  }

  .basicform-heade {
    width: 100%;
    height: 167rem;
    font-size: 20rem;
    font-weight: bold;
    padding: 38rem 0 39rem 25rem;
    background-color: #2a4986;
    margin-bottom: 20rem;
    color: aliceblue;

    .back {
      margin-bottom: 25rem;
    }

    .title {}
  }


  Form {
    font-weight: 600;

    Button {
      margin: 20% 100rem;
      width: 139rem;
      height: 50rem;
    }
  }
}