.doctorlogin-wrapper {
  margin: 5vh;

  .docbtn {
    margin-bottom: 26%;
    width: 141rem;
    height: 8vh;
    border-radius: 10rem;
    font-size: 26rem;
  }

  .ant-form  {
    width: 264rem;
    margin: 0 auto;
    height: 40vh !important;

    Button {
      font-size: 19rem;
      width: 198rem;
      height: 7vh;
      border-radius: 10rem;
      // margin-top: 10vh;
      position: relative;
      top: 6vh;
    }
  }
}