<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hx.collector.survey.dao.CognitionMapper">
    <insert id="insert" parameterType="com.hx.collector.survey.model.db.CognitionDbBean">
        insert into cognition (id, answer_time, answer_stone, photo_clock, draw_clock, create_date, update_date, user_id, del_flge)
        values (#{id}, #{answerTime}, #{answerStone}, #{photoClock}, #{drawClock}, #{createDate}, #{updateDate}, #{userId}, #{delFlge})
    </insert>

    <update id="modify" parameterType="com.hx.collector.survey.model.db.CognitionDbBean">
        update cognition
        <set>
            <if test="answerTime != null and answerTime !=''">
                answer_time = #{answerTime,jdbcType=VARCHAR},
            </if>
            <if test="answerStone != null and answerStone !=''">
                answer_stone = #{answerStone,jdbcType=VARCHAR},
            </if>
            <if test="photoClock != null and photoClock !=''">
                photo_clock = #{photoClock,jdbcType=VARCHAR},
            </if>
            <if test="drawClock != null and drawClock !=''">
                draw_clock = #{drawClock,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        where user_id = #{userId,jdbcType=VARCHAR}
            and del_flge = '1'
    </update>
</mapper>